<!-- Top Banner
   ================================================= -->
<section id="banner">
  <div class="container">

    <!-- Sign Up Form
    ================================================= -->
    <div class="sign-up-form">
      <a routerLink="/" class="logo"><img src="assets/images/logo.png" alt="Friend Finder"/></a>
      <h2 class="text-white">Find My Friends</h2>
      <div class="line-divider"></div>
      <div class="form-wrapper">
        <p class="signup-text">Signup now and meet awesome people around the world</p>
        <form (ngSubmit)="uploadAndRegister()" >
          <fieldset class="form-group">
            <input type="text" class="form-control" id="example-name" placeholder="Enter username" [(ngModel)]="username" name="username">
          </fieldset>
          <fieldset class="form-group">
            <input type="email" class="form-control" id="example-email" placeholder="Enter email" [(ngModel)]="email" name="email">
          </fieldset>
          <fieldset class="form-group">
            <input type="password" class="form-control" id="example-password" placeholder="Enter a password" [(ngModel)]="password" name="password">
          </fieldset>
          <fieldset class="form-group">
            <input type="text" class="form-control" id="example-bio" placeholder="Enter a bio" [(ngModel)]="bio" name="bio">
          </fieldset>
          <fieldset class="form-group">
            <label for="example-ww">Select Profile Image</label>

            <input
              type="file"
              class="form-control"
              id="example-ww"
              (change)="onFileSelected($event)"
              name="img"
              accept="image/*"
            />          </fieldset>

          <fieldset class="form-group">
            <label for="coverImg">Select Cover Image</label>
            <input
              type="file"
              class="form-control"
              id="coverImg"
              (change)="onCoverSelected($event)"
              name="coverImg"
              accept="image/*"
            />
          </fieldset>
<!--          <img-->
<!--            *ngIf="imgFile"-->
<!--            [src]="imgFile"-->
<!--            alt="Profile Preview"-->
<!--            width="120"-->
<!--          />-->

          <p>By signing up you agree to the terms</p>

          <button class="btn-secondary">Signup</button>
        </form>

      </div>
      <a routerLink="/">Already have an account?</a>
      <img class="form-shadow" src="assets/images/bottom-shadow.png" alt="" />
    </div><!-- Sign Up Form End -->


  </div>
</section>

