<!-- Top Banner
   ================================================= -->
<section id="banner">
  <div class="container">

    <!-- Sign Up Form
    ================================================= -->
    <div class="sign-up-form">
      <a routerLink="/" class="logo"><img src="assets/images/logo.png" alt="Friend Finder"/></a>
      <h2 class="text-white">Find My Friends</h2>
      <div class="line-divider"></div>
      <div class="form-wrapper">
        <p class="signup-text">Login</p>
        <form (ngSubmit)="Login()"   >
          <fieldset class="form-group">
            <input type="text"  class="form-control" id="example-email" placeholder="Enter username" [(ngModel)]="username" name="username">
          </fieldset>
          <fieldset class="form-group">
            <input type="password" class="form-control" id="example-password" placeholder="Enter a password" [(ngModel)]="password" name="password">
          </fieldset>
        <p>By signing up you agree to the terms</p>
        <button class="btn-secondary">Login</button>
        </form>
      </div>
      <a routerLink="/sigin-up">Sign up</a>
      <img class="form-shadow" src="assets/images/bottom-shadow.png" alt="" />
    </div><!-- Sign Up Form End -->


  </div>
</section>
