<div class="timeline-cover" [style.background-image]="'url(' + srcImg + user.profileCoverPath + ')'">

  <!--Timeline Menu for Large Screens-->
  <div class="timeline-nav-bar hidden-sm hidden-xs">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-info">
          <img [src]=" srcImg+user.profileImagePath" alt="" class="img-responsive profile-photo">
          <h3>{{user.username}}</h3>
          <p class="text-muted">{{user.bio}}</p>
        </div>
      </div>
      <div class="col-md-9">
        <ul class="list-inline profile-menu">
          <li><a routerLink="/timeline" routerLinkActive="active">Timeline</a></li>
          <li><a routerLink="/timeline-about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/timeline-album" routerLinkActive="active">Album</a></li>
          <li><a routerLink="/timeline-friends" routerLinkActive="active">Friends</a></li>
        </ul>
        <ul class="follow-me list-inline">
          <li>1,299 people following her</li>
<!--          <li><button class="btn-primary">Add Friend</button></li>-->
        </ul>
      </div>
    </div>
  </div><!--Timeline Menu for Large Screens End-->

  <!--Timeline Menu for Small Screens-->
  <div class="navbar-mobile hidden-lg hidden-md">
    <div class="profile-info">
      <img [src]=" srcImg+user.profileImagePath" alt="" class="img-responsive profile-photo">
      <h4>{{user.username}}</h4>
      <p class="text-muted">{{user.username}}</p>
    </div>
    <div class="mobile-menu">
      <ul class="list-inline">
        <li><a routerLink="/timeline" class="active">Timeline</a></li>
        <li><a routerLink="/timeline-about">About</a></li>
        <li><a routerLink="/timeline-album">Album</a></li>
        <li><a routerLink="/timeline-friends">Friends</a></li>
      </ul>
<!--      <button class="btn-primary">Add Friend</button>-->
    </div>
  </div><!--Timeline Menu for Small Screens End-->

</div>
